
@using IdeaHouse.ViewModel
@model List<IdeaViewModel>

<h1>Ideas with Categories</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Remaining</th>
            <th>Category-Name</th>
            <th>Category-Description</th>

            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var idea in Model)
        {
            <tr>
               
                <td>@idea.Name</td>
                <td>@idea.Description</td>
                <td>
                    <div class="rating" style="direction: ltr; text-align: left;">
                        @for (int i = 1; i <= idea.Rating; i++)
                        {
                            <span class="@(i <= idea.Rating ? "checked" : "")">&#9733;</span>
                        }
                    </div>
                </td>

                <td>@idea.Status  @if (idea.Status == IdeaHouse.Data.Enum.Status.Completed)
                    {
                        <span>&#10003;</span>
                    }
                     @if (idea.Status == IdeaHouse.Data.Enum.Status.Pending)
                    {
                        <span>&#9203;</span>

                    }
                </td>
                   
                <td>@idea.Date</td>
                <td>
                    @if (idea.Date != DateTime.MinValue)
                    {
                        DateTime currentDate = DateTime.Now;
                        TimeSpan remainingTime = idea.Date - currentDate;
                        int remainingDays = remainingTime.Days;

                        @if (remainingDays > 0)
                        {
                             <button class="btn btn-success" disabled><span>@remainingDays Day(s) remaining</span></button>
                        }
                        else if (remainingDays == 0)
                        {
                            <button class="btn btn-warning" disabled>Due</button>
                        }
                        else 
                        {
                            <button class="btn btn-danger" disabled>OverDue</button>
                        }
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>

               <td>@idea.CategoryName</td>
                <td>@idea.CategoryDescription</td>

                <td>
                 
                        <!-- Button to get idea details -->
                    <div class="btn-group">
                        <!-- Button to get idea details -->
                        <a href="@Url.Action("Details", "Home", new { id = idea.Id })" class="btn btn-sm btn-outline-secondary">Manage</a>
                    </div>
                    
                </td>
                
            </tr>
            
               
            
           
        }
    </tbody>
</table>


    <section style="position: relative; color: aqua; width: 200px; height: 20px; margin-top: 30%;">
        <a href="@Url.Action("AddIdea", "Home")">
            <button class="btn btn-outline-success btn-xl" style="border: groove">Add an Idea</button>
        </a>
    </section>
</div>
